<configuration>
    <!-- defaults.xml -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />

    <!-- log 파일 저장 위치 설정 -->
    <property name="LOG_PATH" value="./app/log" />
    <!-- console 로그 패턴 -->
    <property name="CONSOLE_LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss}:%-3relative] %clr(%-5level) %magenta(${PID:-}) --- [%thread] %cyan(%-40.40logger{36}) : %msg%n"/>
    <!-- file 로그 패턴 -->
    <property name="FILE_LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss}:%-3relative] %-5level ${PID:-} --- [%thread] %-40.40logger{36} : %msg%n"/>

    <!-- console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </encoder>
    </appender>

    <!-- file -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- log 파일 저장 위치 설정 -->
        <file>${LOG_PATH}/modu-menu.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <!-- 날짜를 기준으로 log 파일을 변경 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/modu-menu.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 아카이브 로그 파일 최대 저장 갯수, 초과시 오래된 파일부터 자동으로 삭제 -->
            <maxHistory>30</maxHistory>
            <!-- 아카이브 최대 크기, 초과시 오래된 파일부터 자동으로 삭제 -->
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <springProfile name="test">
        <property resource="application-test.yml"/>
        <logger name="modu.menu" level="debug">
            <appender-ref ref="CONSOLE" />
        </logger>
        <logger name="org.springframework.web" level="debug">
            <appender-ref ref="CONSOLE" />
        </logger>
        <!-- 쿼리 파라미터 출력 -->
        <logger name="org.hibernate.type.descriptor.sql" level="trace">
            <appender-ref ref="CONSOLE" />
        </logger>
    </springProfile>

    <springProfile name="dev">
        <property resource="application-dev.yml"/>
        <logger name="modu.menu" level="debug">
            <appender-ref ref="CONSOLE" />
        </logger>
        <logger name="org.springframework.web" level="debug">
            <appender-ref ref="CONSOLE" />
        </logger>
        <!-- 쿼리 파라미터 출력 -->
        <logger name="org.hibernate.type.descriptor.sql" level="trace">
            <appender-ref ref="CONSOLE" />
        </logger>
    </springProfile>

    <springProfile name="prod">
        <property resource="application-prod.yml"/>
        <logger name="modu.menu" level="debug">
            <appender-ref ref="FILE" />
        </logger>
        <logger name="org.springframework.web" level="debug">
            <appender-ref ref="FILE" />
        </logger>
    </springProfile>
</configuration>